
.App {
  text-align: center;
  margin-top: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 1.2rem;
  margin: 10px 0;
}

form {
  margin: 20px;
}

input {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
